neovim nightly
nodejs lts
python 3.10.7
ruby 3.1.2
bat 0.18.3
direnv 2.30.2
ghq 1.2.1
starship 1.1.1
github-cli 2.20.2
terraform 1.2.9
postgres 14.1
erlang 24.2
golang 1.17.7
haskell 9.2.1
rust 1.61.0
tmux 3.2a
logtalk 3.00.0
sbcl 2.2.2
sqlite 3.38.0
mysql 8.0.27
awscli 2.4.25
